body {
    background-color: rgb(107, 12, 94);
  }
  
  nav {
    text-align: center;
    color: white;
    border: 1px solid whitesmoke;
    height: 2cm;
    width: 5cm;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  #footer {
    text-align: center;
    padding-top: 9px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    position: fixed;
    right: 0;
    padding: 5px;
  }
  
  .card-group {
    margin: 7px;
    box-shadow: 4px 3px 5px rgb(86, 206, 12);
  }
  
  #flag-img {
    width: 100%;
    height: 6cm;
  }
  
  .card-header {
    text-align: center;
    background-color: rgb(104, 194, 122);
  }
  
  .card-title {
    font-weight: bolder;
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  .content {
    background-color: whitesmoke;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .card-body {
    background-color: lightgray;
  }
  
  #temp-btn {
    position: relative;
    left: 70px;
    margin-bottom: 5px;
  }